#loginbutton {
	width: 100px;
	height: 100px;
	background-color: blue;
	color: white;
}

#logoutbutton {
	width: 100px;
	height: 100px;
	background-color: red;
	color: black;
}

#friendslist {
	font: "Times New Roman";
	color: green;
	font-size: 10pt;
	width: 300px;
	border: 1px blue;

}